params { 
    definitions {
        path_param {  
            default_value = null
            type = "path"
            description = "Path params are strings evaluated as paths - they are checked for existence before being passed on." 
            required = true
        }
        string_param {
            default_value = "stringA"
            type = "string"
            description = "A string parameter."
            required = false
            allow = [ "stringD", "stringB", "stringC" ]
        }
        integer_param {
            default_value = 10
            type = "integer"
            description = "An integer parameter."
            required = false    
            min = 5
            max = 20
        }
        float_param {
            default_value = 0.5
            type = "float"
            description = "A float parameter."
            required = false    
            min = 0.0
            max = 1.0
        }
        flag_param {
            default_value = false
            type = "flag"
            description = "A boolean flag parameter."
            required = false
        }
        help {
            default_value = false
            type = "flag" 
            description = "Print this help message and exit."
            required = false
        }
    }
}



