params { 
    definitions {
        out_dir {  
            default_value = "results"
            type = "path"
            description = "Path params are strings evaluated as paths - they are checked for existence before being passed on." 
            required = false
            allow = ["*"]
        }
        int_param {
            default_value = 1
            type = "integer"
            description = "Description of integer params"
            required = false
            min = 1
            max = 8 
        }
        flag_param {
            type = "flag"
            description = "Flag type params are true if present on the command line, and false if not."
            required = false
        }
        string_param {
            default_value = ""
            type = "string"
            description = "Description of a string parameter"
            required = false
            #allow = [<quoted, comma-separated list of allowed params>]
        }    
        help {
            type = "flag" 
            description = "Print this help message and exit."
            required = false
        }
    }
}



