params { 
    definitions {
        input_file {  
            default_value = null
            type = "path"
            description = "Path params are strings evaluated as paths - they are checked for existence before being passed on." 
            required = true
        }
        string {
            default_value = "stringA"
            type = "string"
            description = "A simple string parameter."
            required = false
            allow = [ "stringD", "stringB", "stringC" ]
        }
        help {
            default_value = false
            type = "flag" 
            description = "Print this help message and exit."
            required = false
        }
    }
}



